* {
    --main-text-color: black;
    --main-color: rgb(255, 120, 0);
    --focus-main-color: rgb(250, 80, 0);
    --semi-color: rgb(210, 210, 210);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1 {
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
}

ol {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    counter-reset: my-counter;
    margin-bottom: 16px;
}

ol li::before {
    content: counter(my-counter);
    padding-right: 10px;
    font-size: 20px;
    font-weight: 600;
}

.links a {
    margin-top: 3px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.links a::after {
    content: '';
    display: block;
    width: 0px;
    margin-left: 50%;
    height: 2px;
    background-color: white;
    transition: 0.12s;
}

.links a:hover::after {
    margin-left: 0;
    width: 100%;
}

.links {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    display: flex;
    justify-content: space-around;
}

nav {
    height: 30px;
    background-color: var(--main-color);
}

.content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    min-height: calc(100vh - 51px);
}

.theme {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 20px;
}

form {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
    "recipe_name recipe_img"
    "recipe_description avatar"
    "semi_pictures semi_pictures"
    "ingredients ingredients"
    "steps steps"
    "semi_info .";
}

input[type='text'] {
    outline: none;
    border: 2px solid var(--main-color);
    height: 30px;
    width: 100%;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

textarea {
    outline: none;
    border: 2px solid var(--main-color);
    width: 100%;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid var(--main-color);
    resize: none;
    font-size: 16px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.input_text_div textarea::-webkit-scrollbar {
    width: 10px;
}

.input_text_div textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--main-color);
}


.input_text_div textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: rgb(249, 249, 249);
}



.input_text_div {
    position: relative;
    width: 80%;
}

.input_text_div label,
.ingredients_div label,
.steps_div label
 {
    position: absolute;
    left: 5px;
    top: -12px;
    transition: 0.12s;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    color: var(--main-text-color);
    border-radius: 5px;
}

#name {
    grid-area: recipe_name;
}

#recipe_description {
    height: 215px;
}

#description {
    grid-area: recipe_description;
}

.recipe_img {
    grid-area: recipe_img;
}

#recipe_name:focus  + label,
.ingredients_div input:focus + label,
textarea:focus + label {
    color: var(--main-color);
}

.picture_input {
    display: none;
}

#select_image,
.cool_btn {
    outline: none;
    border: 0;
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    height: 34px;
    transition: 0.12s;
}

#select_image:hover,
.cool_btn:hover {
    cursor: pointer;
    background-color: var(--focus-main-color);
}

#select_image p{
    margin: 0;
    padding-top: 5px;
}


#avatar {
    grid-area: avatar;
    border-radius: 5px;
    height: 224px;
    width: auto;
}

.semi_pictures {
    grid-area: semi_pictures;
}


.flex_div {
    display: flex;
}

.gallery {
    height: 114px;
    max-width: 100%;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    overflow-x: scroll;
}

.gallery::-webkit-scrollbar {
    height: 10px;
}

.gallery::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--main-color);
}


.gallery::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: rgb(249, 249, 249);
}


.gallery ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.gallery ul li:nth-child(n + 2) {
    margin-left: 10px;
}

.gallery ul li {
    height: 100px;
}

.gallery ul li img {
    height: 100px;
    width: auto;
}

.select_div {
    margin-top: 44px;
    margin-right: 10px;
}

.ingredients {
    grid-area: ingredients;
}

.ingredients ul {
    padding-left: 0;
}

.ingredients_div {
    position: relative;
}

.ingredients_div input[type='text']:nth-child(1){
    width: 40%;
}

.ingredients_div label:nth-child(4) {
    left: calc(40% + 33px);
}

.ingredients_div input[type='text']:nth-child(3){
    width: 21%;
}

.ingredients_div:hover .del_btn,
.steps_div:hover .del_btn {
    display: inline;
}

.del_btn  {
    display: none;
    overflow: none;
    border: 0;
    background-color: white;
    padding: 0;
    margin-left: 5px;
    color: var(--semi-color);
}

.del_btn:hover {
    cursor: pointer;
    color: var(--main-color)
}

.del_btn:active {
    color: var(--focus-main-color);
}

.steps {
    grid-area: steps;
}

.steps_div {
    display: flex;
    position:relative;
    margin-left: 20px;
    margin-top: -20px;
}

.steps_div textarea {
    width: 60%;
}

.semi_info {
    grid-area: semi_info;
}

#copy {
    color: white;
    text-align: center;
    background-color: var(--focus-main-color);
}

#copy p {
    margin: 0;
}

input[type='range'],
input[type='checkbox'] {
    -webkit-appearance: none;
    background-color: var(--main-color);
    border-radius: 10px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 26px;
    width: 14px;
    margin-top: -8px;
    margin-bottom: -8px;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    border: 2px solid var(--main-color);
}

input[type='radio'] {
    display: none;
}

.checkbox_label::before {
    transition: 0.12s;
    border-radius: 5px;
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 1px;
    width: 17px;
    height: 18px;
    box-sizing: border-box;
    border: 5px solid rgb(210, 210, 210);
}

input[type='checkbox']:checked+.checkbox_label::before {
    border: 5px solid var(--main-color);
}


.checkbox_label {
    margin-left: -10px;
    padding-right: 25px;
    position: relative;
    color: var(--main-text-color);
    font-weight: 400;
}

#add {
    margin-top: 16px;
    margin-bottom: 20px;
}