* {
    --main-text-color: black;
    --main-color: rgb(255, 120, 0);
    --focus-main-color: rgb(250, 80, 0);
    --semi-color: rgb(210, 210, 210);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

.links a {
    margin-top: 3px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.links a::after {
    content: '';
    display: block;
    width: 0px;
    margin-left: 50%;
    height: 2px;
    background-color: white;
    transition: 0.12s;
}

.links a:hover::after {
    margin-left: 0;
    width: 100%;
}

.links {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    display: flex;
    justify-content: space-around;
}

nav {
    height: 30px;
    background-color: var(--main-color);
}

footer {
    background-color: var(--main-color);
}

.footer_grid {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    grid-template-areas: 
    "social address"
    "contact address"
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: calc(100vh - 307px);
}

.social {
    grid-area: social;
}

.social_div {
    display: flex;
}

.logo {
    background-color: var(--focus-main-color);
    border-radius: 10px;
    margin: 0;
    padding: 2px;
    height: 40px;
    width: 40px;
    margin-right: 6px;
    transition: 0.12s;
}

.logo:hover {
    cursor: pointer;
    background-color: #fff;
} 

svg {
    transition: 0.12s;
}

svg:hover {
    fill: var(--focus-main-color);
}

#contact {
    grid-area: contact;
}

#contact a {
    text-decoration: none;
    color: white;
}

#address {
    grid-area: address;
}


footer p {
    color: white;
}

.footer_h {
    font-weight: 500;
    font-size: 20px;
}

#copy {
    text-align: center;
    background-color: var(--focus-main-color);
}