* {
    --main-text-color: black;
    --main-color: rgb(255, 120, 0);
    --focus-main-color: rgb(250, 80, 0);
    --semi-color: rgb(210, 210, 210);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

.links a {
    margin-top: 3px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.links a::after {
    content: '';
    display: block;
    width: 0px;
    margin-left: 50%;
    height: 2px;
    background-color: white;
    transition: 0.12s;
}

.links a:hover::after {
    margin-left: 0;
    width: 100%;
}

.links {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    display: flex;
    justify-content: space-around;
}

nav {
    height: 30px;
    background-color: var(--main-color);
}

.content {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.content img {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 4px solid var(--main-color);
}

.theme {
    font-weight: 500;
    font-size: 20px;
}

.social_div {
    display: flex;
}

.logo {
    background-color: white;
    border-radius: 10px;
    margin: 0;
    padding: 2px;
    height: 40px;
    width: 40px;
    margin-right: 6px;
    transition: 0.12s;
}

.logo:hover {
    cursor: pointer;
    background-color: var(--focus-main-color);
}

svg {
    transition: 0.12s;
}

svg:hover {
    fill: white;
}

.info {
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-template-areas:
        "avatar about"
        "avatar social"
        "gallery_text gallery_text"
        "gallery gallery";
}

.about {
    grid-area: about;
}

.social {
    align-self:flex-end;
    grid-area: social;
}

#avatar {
    grid-area: avatar;
}

#main_title {
    grid-area: main_title;
}

#gallery_text {
    margin-top: 20px;
    grid-area: gallery_text;
    text-align: center;
}

.gallery {
    grid-area: gallery;
}